/*----шрифты-------------------------------------------*/



/*----основа-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    box-sizing: border-box;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
body {
    font-size: 14px;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
._container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 735px;
}